# Get your developer token from https://app.2050-materials.com/
EPD_API_TOKEN= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3ODIwNTM4OTMsImV4cCI6MjA5NzQxMzg5MywidG9rZW5fdHlwZSI6ImRldmVsb3Blcl9hY2Nlc3MiLCJmaXJzdF9uYW1lIjoiYmhhdmFuYSBwcml5YSIsImxhc3RfbmFtZSI6ImJhbGFzdWJyYW1hbmlhbiIsIm9jY3VwYXRpb24iOiJBcmNoaXRlY3QiLCJ1c2VyX2NvbXBhbnkiOiJJQUFDIiwidXNlcl9lbWFpbCI6ImJiaGF2YW5hLnByaXlhQGdtYWlsLmNvbSJ9.C31wtIHQhzHGS4FbNYRIRdYyJRy_Mp6VjQZba5wZ-04

